* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #F1F1F1!important;
}

/*nav bar styling here */
.brand-logo{
  margin-left: 10px;
  font-size: 2px;
}
nav{
  height: 64px!important;
  line-height: 64px!important;
}
.nav-wrapper a{
  color: #F3EFEF;
}
.nav-wrapper a:hover{
  color: black;
}


/*carousel styling */
.carousel-big .carousel-item{
  width: 600px!important;
}
.carousel-big{
  top: -210px!important;
  height: 650px!important;
}
.carousel-small .carousel-item{
  width: 300px!important;
}
.carousel-small{
  top: -55px!important;
  height: 310px!important;
}
.carousel .indicators .indicator-item {
  background-color: grey;
}
.carousel .indicators .indicator-item.active {
  background-color: black;
}

/*about component styling */
.about{
  margin-top: -150px;
  padding: 1px 15px 1px 15px;
  border-radius: 10px;
  background-color: white;
}
.about-image {
}
.img {
  width: 100%;
}
.about-content {
}

/*footer style goes down */
footer{
  margin-top: 10px;
}


/*media query goes in */
@media (max-width:480px) {
  .brand-logo{
    font-size: 18px!important;
  }
  nav .button-collapse i {
    line-height: 50px!important;
  }
  #sidenav-overlay {
    z-index: 0!important;
  }
  nav{
    height: 50px!important;
    line-height: 50px!important;
  }
  .about{
    margin-top: -60px;
  }
}




/*for pre load scrolling */
#work-in-progress {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 150px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  z-index: 200000;
  background-color: #FFFFFF;
}
